/* 
 * Fonts
 * -----
 */

@font-face {
  font-family: 'museo_slab';
  src: url('../../fonts/museo-slab/museo-slab.eot');
  src: url('../../fonts/museo-slab/museo-slab-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/museo-slab/museo-slab-webfont.woff') format('woff'),
       url('../../fonts/museo-slab/museo-slab-webfont.ttf') format('truetype'),
       url('../../fonts/museo-slab/museo-slab-webfont.svg#museo_slab_500regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: local('Baskerville'), local('Baskerville-Regular'),
       url('../../fonts/baskerville/baskerville.woff') format('woff'),
       url('../../fonts/baskerville/baskerville.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/fontawesome/fontawesome-webfont.eot');
  src: url('../../fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('eot'), 
        url('../../fonts/fontawesome/fontawesome-webfont.woff') format('woff'), 
        url('../../fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'), 
        url('../../fonts/fontawesome/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* 
 * Resets
 * ------
 */

body {
  font-size: 24px;
  padding: 0px;
  margin: 0px;
  background-color: #1a1a1a;
}

h1, h2, h3, h4, #side {
  font-family: 'museo_slab';
  color: #bebebe;
}

h1, h2, h3, h4 {
  margin-bottom: 40px;
}

h1 a {
  position: relative;
}

h1 a:hover:before {
  position: absolute;
  top: 6px;
  left: -30px;
  content: "☁";
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  display: inline-block;
  text-decoration: inherit;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5, h6 {
  font-size: 1em;
}

li {
  color: #bebebe;
  font-family: 'Baskerville', sans-serif;
  line-height: 36px;
}

p {
  color: #bebebe;
  font-family: 'Baskerville', sans-serif;
  line-height: 36px;
  margin-bottom: 40px;
}

a, a.visited, a.active, h1 a:hover {
  text-decoration: none;
  color: #36f;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid #222;
}

pre { 
  border: 1px solid #686868;
  border-radius: 4px;
  margin: 10px 10px 40px 10px;
  padding: 10px;
  background-color: #f0efe8;
  overflow: auto;
  font-size: 14px;
}


/* 
 * Syntax
 * ------
 */

code { color: rgba(0,0,0, 1); }
code .keyword              { font-weight: bold; color: #6089d4; }
code .string, code .regexp { color: green }
code .class, code .special { color: #6089d4 }
code .number               { color: red }
code .comment              { color: grey }
p code, li code { color: #ccc; font-size: 18px;}

/* 
 * Sidebar
 * -------
 */

#side {
  margin-left: 50px;
  width: 181;
  float: left;
  margin-top: -30px;
  text-align: center;
  position: fixed;
}

#bio {
  padding-top: 25px;
  font-size: 25px;
}

#bio a.social, #bio a:hover.social, #floating-head a.social, #floating-head a:hover.social {
  font-family: 'FontAwesome';
  font-size: 24px;
  width: 20px;
  height: 20px;
  padding: 0 2px;
  text-decoration: none;
  color: #bebebe;
}
#floating-head a.social, #floating-head a:hover.social {
  color: #1a1a1a;
}

#bio a:hover.social {
  color: #36f;
}

#bio #long {
  width: 181px;
  font-size: 12px;
  margin-bottom: 2em;
}

#bio #long a {
  font-size: 12px;
  font-family: 'museo_slab';
}

#bio #long a:hover {
  font-size: 12px;
  font-family: 'museo_slab';
}

.github-link:after {
  content: "\f113";
}

.twitter-link:after {
  content: "\f099";
}

.resume-link:after {
  content: "\f0f2";
}

.rss-link:after {
  content: "\f09e";
}

#floating-head {
  display: none;
}

/* 
 * Content
 * -------
 */
#articles {
  margin-left: 280px;
  margin-right: 50px;
  max-width: 700px;
}

#articles img {
  width: 100%;
}

#toc {
  font-family: 'museo_slab';
}

#toc h1 {
  margin-top: 0.67em;
}

#toc div {
  border-bottom: 2px dotted #bebebe;
  height: 16px;
}

#toc .date {
  font-size: 16px;
  float: right;
  color: #bebebe;
  display: inline-block;
  background-color: #1a1a1a;
  padding-top: 4px;
  padding-left: 10px;
}

#toc div a {
  font-size: 16px;
  margin: 4px 0 4px;
  display: inline-block;
  background-color: #1a1a1a;
  padding-right: 10px;
}

/* 
 * Mobile
 * ------
 */

@media screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

  #side {
    display: none;
  }

  #articles {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 700px;
    overflow: hidden;
  }

  #floating-head {
    font-size: 25px;
    font-family: 'museo_slab';
    background-color: #36f;
    display: block;
    position: relative;
    padding: 10px;
    text-align: center;
  }

  #floating-head p {
    color: #ebead5;
    margin: 0px;
    padding: 10px 0 0;
  }

  #floating-head a {
    color: #ebead5;
  }
}
